<div class="about-main">
  <h2>Foodgramとは</h2>
  <p>
    Foodgramでは、「世界で1番、料理がわかりやすい」をテーマに、あなたの食卓を彩る美味しいフードレシピの数々を、料理動画（レシピ動画）でご紹介しています。<br>
    Foodgramは総計170万人以上のファンがいる、日本最大の料理動画（レシピ動画）サービスです。
  </p>

  <h2>Foodgramの魅力</h2>
  <p>
    Foodgramの料理動画（レシピ動画）は、冷蔵庫の残りものですぐに作れる簡単な料理や、近所のスーパーで手に入る食材を使った節約料理を料理動画（レシピ動画）にしておりますので、主婦や子どもがいる方はもちろん、一人暮らしの方や男性でもわかりやすい料理動画（レシピ動画）になっています。<br>
    料理初心者の方に向けた簡単で基本的なレシピはもちろん、お客さんが来たときのもてなし料理まで、初心者から上級者向けのアレンジレシピや一風変わったアイディアレシピなど、皆様にご満足いただけるボリュームになっています。<br>
    朝食・昼食・夕食の三食を大切にできるように時短でできるお弁当レシピ、おやつレシピ、夜食レシピ、カロリー控えめレシピもあります。<br>
    特別な記念日や誕生日に作りたいケーキやスイーツ、来客用のパーティレシピなど、幅広くカバーしており、春・夏・秋・冬の季節にあった旬の食材を使った美味しいレシピも多数更新していますので、お気に入りのレシピが見つかること間違いなしです。<br>
    是非作りたいレシピを探してみてください。
  </p>
</div>
