<div class="top-main">
  <div class="top-message">
    <h2>お気に入りの料理を見つけよう</h2>
    <a href="/signup" class="btn signup-btn">ユーザー登録</a>
    <p>or</p>
    <a href="/login" class="btn login-btn">ログイン</a>
  </div>
</div>
