<div class="foods-index">
  <% @foods.each do |food| %>
    <div class="foods-list-item">
      <img src="<%= food.image %>">
      <h3>
        <a href="/foods/<%= food.id %>">
          <%= food.title %>
        </a>
      </h3>
    </div>
  <% end %>
</div>
