/* 共通レイアウト ================================ */
body {
  color: #364a4d;
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.heading {
  display: inline-block;
}

/* フォント
================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  /*margin-bottom: 30px;*/
  /*font-weight: normal;*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー ================================ */
header {
  padding: 0 30px;
  border-bottom: 1px solid gray;
  height: 75px;
}

.header-logo {
  float: left;
}

.header-logo img {
  height: 75px;
}

.header-menus {
  float: right;
}

.header-menus li {
  float: left;
}

.header-menus a {
  padding: 0 20px;
  float: left;
  line-height: 75px;
}


/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer small {
  float: left;
}

/* ボタン ================================ */
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn-large {
  padding: 6px 140px;
  font-size: 18px;
}

/* 「保存」ボタン */
.primary-btn {
  background-color: #239b76;
}

.primary-btn:hover {
  background-color: #28b086;
}

/*　「新規登録」と「編集」ボタン　*/
.register-btn, .edit-btn {
  background-color: #239b76;
  margin-top:30px;
}

.register-btn:hover,.edit-btn:hover {
  background-color: #28b086;
  color: white;
  text-decoration: none;
}

/*　「戻る」ボタン　*/
.destroy-btn {
  background-color: #1f89e2;
}

.destroy-btn:hover {
  background-color: #3695e5;
  color: white;
  text-decoration: none;
}

/* フォーム================================ */
input, textarea, select {
  border: 1px solid #bbb;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 3px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

/*　エラーメッセージ　*/
.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 40px;
  padding-left: 15px;
  font-size: small;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

.alert-danger ul li {
  list-style-type: disc;
 }
