/* foods/index ================================ */
.foods-index {
  padding: 50px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.foods-list-item {
  overflow: hidden;
  width: 350px;
  height: 430px;
  display: inline-block;
  margin: 10px;
  text-align: left;
  border: 1px solid rgba(194, 203, 208, 0.36);
}

.foods-list-item img {
  height: 350px;
  min-width: 100%;
}

.foods-list-item h3 {
  margin: 10px 10px 15px;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .foods-index {
    padding: 0;
  }
}

/* foods/show ================================ */
.food-show {
  width: 700px;
  margin: 0 auto;
  padding: 100px;
  padding-top: 50px;
  text-align: center;
}

.food-show .food {
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.food-show .food img {
  width: 500px;
  height: 500px;
}

.food-show form {
  display: inline;
}

.food-show input[type="submit"] {
  padding: 0;
  background-color: white;
  border: none;
  color: gray;
  font-size: 1em;
  margin-left: 10px;
}

@media (max-width: 700px) {
  .food-show {
    width: 100%;
    padding: 0;
  }
}

/* foods/show ================================ */
.foods-new {
  padding: 50px;
  background: rgba(194, 203, 208, 0.26);
  height: 100%;
}
