.note-show .note .like {
  margin: 0;
  color: gray;
}

.note-show .note .unlike {
  margin: 0;
  color: #bb428f;
}

.likes-link {
  margin: 30px 0;
}

.likes-link a {
  background-color: rgba(187, 66, 143, 0.92);
  color: white;
  padding: 10px;
}
