/* users/new, users/edit ================================ */
.users-new, .users-edit {
  padding: 50px;
  background: rgba(194, 203, 208, 0.26);
  height: 100%;
}

/* users/show ================================ */
.user-show {
  width: 750px;
  margin: 0 auto;
  padding: 100px;
  padding-top: 50px;
}

.user-show .user {
  overflow: hidden;
  display: inline-block;
  margin: 10px;
}
