<!DOCTYPE html>
<html>
  <head>
    <title>Foodgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/"><img src="/images/logo.png"></a>
      </div>
      <ul class="header-menus">
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/notes/index">投稿一覧</a></li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
